@using MySinglePageApp.Controllers
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome to my Single Page Application</h1>
        </hgroup>
    </div>
</section>
}

<button data-bind="click: saveAll">Save all</button>
<button data-bind="click: revertAll">Revert all</button>

<label>
    <input data-bind="checked: excludeDelivered" type="checkbox"/>
    Exclude delivered items
</label>

<ol data-bind="foreach: deliveries">
    <li data-bind="css: { delivered: IsDelivered, updated: IsUpdated }">
        <strong data-bind="text: Description"></strong>
        is for <em data-bind="text: Customer().Name"></em>
        <label>
            <input data-bind="checked: IsDelivered" type="checkbox"/> Delivered
        </label>
    </li>
</ol>

<h3>Customers</h3>
<ul data-bind="foreach: deliveriesForCustomer">
    <li>
        <div>Name: <strong data-bind="text: key.Name"></strong></div>
        <ul data-bind="foreach: values">
            <li data-bind="text: Description,
                           css: { delivered: IsDelivered, updated: IsUpdated }"></li>
        </ul>
    </li>
</ul>

<script src="~/Scripts/App/DeliveryViewModel.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        upshot.metadata(@(Html.Metadata<MySinglePageApp.Controllers.DataServiceController>()));

        ko.applyBindings(new DeliveriesViewModel());

    });
</script>
